/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import 'slick';
 @import 'slick-theme';

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 .clearfix::after {
 	content: "";
 	display: block;
 	clear: both;
 }

 header {
 	width: 100%;
 }
 nav {
 	height: 80px;
 	line-height: 80px;
 	background-color: rgba(0,102,255,0.8);
 }
 li {
 	list-style: none;
 }
 li.hamburger {
 	float: left;
 	font-size: 20px;
 	color: white;
 	padding-left: 10px;
 }
 li.btn-group {
 	float: left;
 }
 li.logo {
 	float: left;
 	font-size: 30px;
 	color: white;
 	padding-left: 10px;
 }
 li.header-var {
 	float: right;
 	font-size: 20px;
 	margin-right: 30px;
 	color: white;
 }
 .header-var a {
 	text-decoration: none;
 }

.sessions {
  position: relative;
  background-image: url('image/winter-image.jpeg');
  background-size: cover;
  background-position: center;

  img {
    height:700px;
    width:700px;
  }

  .log-in {
    position: absolute;
    top:150px;
    right: 250px;
  }
}

.registrations {
  position: relative;
  background-image: url('image/winter-image.jpeg');
  background-size: cover;
  background-position: center;

  img {
    height:700px;
    width:700px;
  }

  .sign-up {
    position: absolute;
    top:150px;
    right: 200px;
  }
}

 .sign-up h2, .log-in h2 {
  padding-top: 30px;
  padding-left: 40px;
 }
 .sign-up a, .log-in a {
  padding-left: 50px;
 }
 .field, .actions {
	padding-left: 50px;
  margin-top:5px;
 }

 main {
  width: 100%;
 }


li.post-menu {
	float:left;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
 


 footer {
 	height: 60px;
 	line-height: 60px;
 	background-color: #0066FF;
 	color: white;
 	text-align: center;

    p {
      margin-bottom: 0;
    }
 }